<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Emails</title>
</head>
<body>
    <p>The email address you entered ({{all_emails[0].email}}) is a VALID email address! Thank you!</p>
    <h1>Email Addresses Entered:</h1>
    <table>
        <tbody>
            {% for email in all_emails %}
                <tr>
                    <td>{{email.email}}</td>
                    <td>{{email.created_at}}</td>
                    <td><a href="/delete/{{email.id}}">Delete</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>